{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:cypress/recommended"
  ],
  "ignorePatterns": ["node_modules", "dist"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "cypress"],
  "rules": {
    // allows you to prefix vars with _ to flag them as unused
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "^_" }],
    // disabling default indent and enabling typescript indent prevents vscode bug
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    // additional rules
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error", {
      "functions": false,
      "typedefs": false
    }],
    "camelcase": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      { "selector": "default", "format": ["camelCase", "PascalCase"], "leadingUnderscore": "allow" },
      { "selector": "typeLike", "format": ["PascalCase"] },
      { "selector": "memberLike", "format": null }
    ],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "arrow-parens": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "react/display-name": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
